// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Base Theme
@import '_base_theme';

// Wyswyg Editor
@import '_editor';

// Card Styles
@import 'cards/_flash_cards';

// Confirm Modal Styling 
@import '_confirm_modal';

$darkOverlay: rgba(0,0,0,.5);

// Center Laravel pagination elements
.pagination {
	justify-content: center;
}

.red-text {
	color: #ba1e0d;	
	font-size: 80%;
}

.top-nav-bar {
	background-color: $darkOverlay;	
}

.card-content-area {
	background-color: #f2f2f2;
	padding: 20px;	

	.list-group-item {
		background-color: inherit;
		border-bottom: dashed 1px #212529;
	}
}

// Disable summernote notification area below the editor
.note-status-output {
	display: none !important;
}

#sticky-footer {
	border-top: #000 1px solid;
	-webkit-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.30);
	box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.30);	
	background-color: #000 !important;

	color: #f2f2f2;
	font-size: 80%;

	a {
		color: #0f79d0;
		text-decoration: none;
	}
}

.dark-card {
	background-color: $darkOverlay !important;
    border: none !important;

	.card-header {
	    border: none !important;
		color: #f2f2f2;
		background-color: $darkOverlay !important;
	}

	.card-footer {
		background-color: $darkOverlay !important;
    	border: none !important;	
	}
}