// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Base Theme
@import '_base_theme';

// Wyswyg Editor
@import '_editor';

// Card Styles
@import 'cards/_flash_cards';

// Confirm Modal Styling 
@import '_confirm_modal';

// Center Laravel pagination elements
.pagination {
	justify-content: center;
}

.red-text {
	color: #ba1e0d;	
	font-size: 80%;
}

.invalid-feedback {
	font-size: 80%;		
}

.top-nav-bar {
	background-color: $darkOverlay;	

	.dropdown-menu {
		background-color: $darkOverlay;		

		.dropdown-item {
			color: #f2f2f2;

			&:hover {
		  		color: $darkHighlight;
		  		background-color: transparent;
		  	}
		}
	}
}

.btn {
	padding: 7px 30px;	

	&.btn-outline {
		background-color: transparent;
		border-color: #bbb;
		border-radius: unset;
		box-shadow: 0 4px 5px rgba(0,0,0,.3);
		&:hover {
	  		color: #f2f2f2;
	  		background-color: $darkOverlay;
	  		border-color: $darkHighlight;
		}
	}

	&.btn-inverse {
		color: #f2f2f2;
		background-color: transparent;
		border-color: #bbb;
		border-radius: unset;

		&:hover {
	  		color: #f2f2f2;
	  		background-color: $darkHighlight;
	  	}
	}	
}

// Disable summernote notification area below the editor
.note-status-output {
	display: none !important;
}

#sticky-footer {
	border-top: #000 1px solid;
	-webkit-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.30);
	-moz-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.30);
	box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.30);	
	background-color: #000 !important;

	color: #f2f2f2;
	font-size: 80%;

	a {
		color: #0f79d0;
		text-decoration: none;
	}
}

.dark-card {
	background-color: $darkOverlay;
    border: none !important;

	.card-header {
		background-color: $darkHighlight;
	    border: none !important;
		color: #f2f2f2;
	}

	.card-footer {
		background-color: $darkHighlight;	
    	border: none;	
	}
}