@font-face{
    font-family:'Flash Cards';
    src:url("resources/fonts/flash_cards/flash_cards.eot");
    src:url("resources/fonts/flash_cards/flash_cards.eot?#iefix") format("embedded-opentype"),url("resources/fonts/flash_cards/flash_cards.svg#flash_cards") format("svg"),url("resources/fonts/flash_cards/flash_cards.woff") format("woff"),url("resources/fonts/flash_cards/flash_cards.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}

#deck{
    height:300px;
    list-style:none;
    margin:15px auto;
    padding:0;
    position:relative;
    text-align:center;

    @media only screen and (max-width : 500px) {
        min-width: 300px;
    }

    @media only screen and (max-width : 800px) {
        min-width: 400px;
    }

    @media only screen and (min-width : 800px) {
        min-width: 500px;
    }                
}

.flash-card{
    -webkit-perspective:1600;
    perspective:1600;
    color:#222;
    display:none;
    font-family:SchoolBell;
    font-size:18px;
    height:300px;
    min-height: 300px;
    line-height:60px;
    position:relative;
    width: 100%;
}
.flash-card:first-child{
    display:block
}
.side_one,.side_two{
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    background-image:-webkit-gradient(linear, 50% 0%, 50% 30, color-stop(0%, #f7f7f7), color-stop(96.667%, #f7f7f7), color-stop(100%, #bbdbfd));
    background-image:-webkit-linear-gradient(#f7f7f7 0px,#f7f7f7 29px,#bbdbfd 30px);
    background-image:-moz-linear-gradient(#f7f7f7 0px,#f7f7f7 29px,#bbdbfd 30px);
    background-image:-o-linear-gradient(#f7f7f7 0px,#f7f7f7 29px,#bbdbfd 30px);
    background-image:-ms-linear-gradient(#f7f7f7 0px,#f7f7f7 29px,#bbdbfd 30px);
    background-image:linear-gradient(#f7f7f7 0px,#f7f7f7 29px,#bbdbfd 30px);
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
    background-color:#fff;
    background-size:100% 30px;
    background-position:50%;
    height:100%;
    width:100%;
    position:absolute;

}
.current .side_one,.current.flip .side_two{
    -webkit-box-shadow:0 3px 5px #000;
    -moz-box-shadow:0 3px 5px #000;
    box-shadow:0 3px 5px #000
}
.current.flip .side_one{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none
}
.side_one{
    -webkit-transform:rotateX(0deg);
    transform:rotateX(0deg);
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    z-index:900
}
.flip .side_one{
    -webkit-transform:rotateX(180deg);
    transform:rotateX(180deg)
}
.side_two{
    -webkit-transform:rotateX(-180deg);
    transform:rotateX(-180deg);
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    z-index:800
}
.flip .side_two{
    -webkit-transform:rotateX(0deg);
    transform:rotateX(0deg);
    z-index:1000
}
.flash-card .flash-card-content {
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    text-align: left;

    p {
        margin: 0px;
    } 
}

.no-csstransforms3d .flip .side_one,.no-csstransforms3d .side_two{
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
    opacity:0
}
.no-csstransforms3d .flip .side_two{
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -ms-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
    opacity:1
}

.flash-card:first-child .side_two{
    font-family:GungSeo, serif
}

// Buttons (Previous / Flip / Next)
$button_text_color: #000000;

$button_font_size: 30px;
$button_padding:   10px; // For bigger targets!
$button_width:     40px;


/* NAV */
#nav_deck {
  color: $button_text_color;
  position: relative;
}
.icon {
  cursor: pointer;

  -webkit-text-stroke: 2px #b5acac;
  
  &:before {
    content: attr(data-icon);
    font-family: 'Flash Cards';
    visibility: visible;
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#prev:before, #next:before, #flipper:before {
  font-size: $button_font_size;
  padding: $button_padding;
  width: $button_width;
}
#prev:before { left:  0; }
#next:before { right: 0; }

.card-controls {
    margin-top: 70px;
    font-weight: 700;
    box-shadow: 0 5px 5px #000;
    background-color:rgba(0, 0, 0, 0.5);
}

.current-card-count {
    color: #b5acac;
}